@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Edwardian Script ITC;
  src: url(../assets/Font/ITCEDSCR.TTF);
}
:root {
  --primary-color: #ffffff;
  --quad-color: #fbf6f3;
  --secondary-color: #c0a483;
  --secondary-color-15: #c0a48326;
  --border-color: #ffffff4d;
  --tertiary-color: #991421;
  --animation-duration: 12s;
  --services-totalItems: 5;
  --services-totalItems2: 4;
  --animation-duration2: 10s;
}
body,
html {
  overflow-x: hidden;

  font-family: "El Messiri", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1880px !important;
}
.container2 {
  max-width: 1543px !important;
}
.col53 {
  width: 53%;
  padding: 0 10px;
}
.col47 {
  width: 47%;
  padding: 0 10px;
}
.col39 {
  width: 39%;
  padding: 0 10px;
}

.col35 {
  width: 35%;
  padding: 0 10px;
}
.col26 {
  width: 26%;
  padding: 0 10px;
}
.col20 {
  width: 20%;
  padding: 0 10px;
}
.active {
  color: var(--primary-color) !important;
}
.active::before {
  width: 100% !important;
}

.btn-primary {
  background: none !important;
  color: var(--primary-color);
  font-size: 20px;
  padding: 14px 25px;
  font-weight: 500;
  border: none !important;
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;

  transform: translateX(100%);
}

.btn-primary:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;

  transform: translateX(-100%);
}

.btn-primary:hover:before {
  border-color: var(--primary-color);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.btn-primary:hover:after {
  border-color: var(--primary-color);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}
.btn-secondary {
  padding-block: 25.5px;
  font-size: 30px;
  outline: 2px solid var(--tertiary-color);
  color: #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s linear;
}
.btn-secondary::before,
.btn-secondary::after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  height: 100%;
  background: var(--tertiary-color);
  transform: skew(20deg);
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: -1;
}
.btn-secondary::before {
  left: -18px;
}
.btn-secondary::after {
  right: -18px;
}
.btn-secondary:hover::before,
.btn-secondary:hover::after {
  width: 68%;
}
.btn-secondary:hover {
  color: var(--primary-color);
  font-weight: 600;
}
.btn-secondary i {
  transition: all 0.4s ease;
}
.btn-secondary:hover > i {
  animation: spinArrow 0.6s ease forwards;
}

@keyframes spinArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title1 {
  color: var(--primary-color);
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 0 !important;
}
.title2 {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1.28px;
}
.sec-hdr > .title1 {
  letter-spacing: 0.7px;
  color: #000;
  margin: 9px 0 55px !important;
}
.sec-hdr > p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
}
.title3 {
  font-size: 20px;
  letter-spacing: 1.2px;
  color: var(--secondary-color);
  font-weight: 600;
}
.cursor {
  mix-blend-mode: difference;
  height: 18px;
  width: 18px;
  cursor: none;
  border-radius: 50%;
  background: var(--quad-color);
  transform: rotate(325deg);
  position: fixed;
  z-index: 9999;
}
/* Fade-out animation */
.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Spinner */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 9999;
}
.spinner {
  --gap: 8px;
  --clr: var(--secondary-color);
  --height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.spinner span {
  background: var(--clr);
  width: 10px;
  height: var(--height);
  animation: grow 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation-delay: 0.15s;
}
.spinner span:nth-child(3) {
  animation-delay: 0.3s;
}
.spinner span:nth-child(4) {
  animation-delay: 0.475s;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.8);
  }
}

/* Main content transitions */
.hidden {
  display: none;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}
/* Back TO Top */
.back-to-top-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 56px;
  height: 52px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 15px #f4d7b7;
  transition: all 0.3s ease;
}

.back-to-top-fixed.show {
  display: flex;
}
/* Navbar Section */
.hdr-sec {
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}
.navbar-brand {
  width: 168px;
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-brand > a {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.offcanvas {
  flex-direction: row;
}
.nav-item {
  margin-right: 50px;
}
.nav-link {
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 !important;
  color: var(--primary-color) !important;
  position: relative;
  transition: all 0.3s linear;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
  top: 100%;
  width: 0%;
  transition: all 0.5s linear;
}
.down-arrow:hover::before {
  width: 0% !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
  transform: translateY(-2px);
}
.nav-link:hover::before {
  width: 100%;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}
.navbar-nav > li:nth-child(4) {
  margin-right: 91px !important;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  padding-block: 20px 10px;
}
.dropdown-item {
  margin-bottom: 10px;
}
.nav-btn {
  margin-right: 22px !important;
}
.search-btn {
  background: none !important;
  border: none !important;
}
.love-icon {
  margin-inline: 29px 28px;
}
.cart-icon {
  position: relative;
}
.cart-icon::before {
  content: "0";
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 26px;
  border-radius: 50%;
  bottom: 14px;
  left: 19.83px;
  background-color: var(--secondary-color);
}
/* Banner Section */
.banner-sec {
  background: url(../assets/Blog/Banner-bg.png) no-repeat center/cover;
  min-height: 80vh;
  background-attachment: fixed;
}
.brdcrumb {
  max-width: 137px;
}
.brd-link {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 500;
}
/* Discount Section */
.disc-sec {
  padding: 23px 0;
}
.auto-scroll {
  padding-block: 27px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #ffffff 0%, #d7aa76 100%);
  border: 1px solid var(--tertiary-color);
}
.auto-scroll-itms {
  font-size: 30px;
  white-space: nowrap;
  letter-spacing: 1.2px;
  font-weight: 600;
  background: linear-gradient(to right, #991421 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  animation: rightTOLeft linear infinite;
  animation-duration: var(--animation-duration);
  animation-delay: calc(
    var(--animation-duration) / var(--services-totalItems) *
      ((var(--services-totalItems) - var(--i)) * -1)
  );
}
.auto-scroll-itms > img {
  max-width: 23px;
}
.scroll-item1 > img {
  margin-right: 24px;
}
.scroll-item2 > img,
.scroll-item5 > .img1 {
  margin-right: 31px;
}
.scroll-item3 > img {
  margin-right: 28px;
}
.scroll-item4 > img {
  margin-right: 48px;
}

@keyframes rightTOLeft {
  0% {
    right: -10%;
  }
  100% {
    right: 110%;
  }
}
/* Blog Section */
.blog-sec {
  padding: 98px 0 119px;
}
.blog-hdr {
  margin-bottom: 83px;
}
.article-card {
  border: 1px solid #0000004d;
}
.article-card {
  max-width: 590px;
  height: 815px;
}
.blog-img {
  width: 100%;
}
.blog-mid-img {
  height: 100%;
}
.blog-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-cntn {
  padding-block: 23px 51px;
}
.arti-hdr-left {
  background-color: var(--secondary-color);
  padding: 13px 20px 19px 22px;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  max-width: 90px;
}

.arti-hdr-left > span {
  font-size: 22px;
  margin-top: -16px;
}
.arti-hdr-right {
  font-size: 22px;
  font-weight: 500;
  margin-left: 40px;
}
.arti-hdr-right > p {
  margin-bottom: 0 !important;
}
.arti-hdr-right > p > span {
  position: relative;
  margin-right: 21px;
}
.arti-hdr-right > p > span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 100%;
  top: 40%;
  background-color: var(--secondary-color);
}
.arti-bold {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: #000;
}
.arti-btm {
  margin-top: 24px;
  padding-inline: 24px 15px;
}
.arti-btm > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
}
.arti-btm > a {
  margin-top: 33px;
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 0.72px;
}
.blog-mid-img {
  position: relative;
}
.blog-mid-cntn {
  position: absolute;
  padding: 0 !important;
  left: 52px;
  bottom: 140px;
}
/* Brand Section */
.brand-sec {
  padding: 58px 0 118px;
}
.brand-hdr {
  margin-bottom: 40px;
}
.brand-wrpr {
  border-block: 1px solid #00000080;
  /* height: 240px; */
  /* padding: 49px 0 70px; */
}
.brand-item {
  border-right: 1px solid #00000080;
  height: 240px;
}
.sec-brand {
  padding-top: 20px;
}
.last-brand {
  border: none;
  padding-top: 30px;
}
.brand-img-wrpr {
  margin: 0 auto;
}
.brand-img-wrpr1 {
  max-width: 207px;
}
.brand-img-wrpr2 {
  max-width: 177px;
}
.brand-img-wrpr3 {
  max-width: 202px;
}
.brand-img-wrpr4 {
  max-width: 196px;
}
.brand-img-wrpr > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Recent Blog Section */
.recent-sec {
  padding-bottom: 90px;
}
.recent-hdr {
  margin-bottom: 74px;
}
.recent-card {
  max-width: 585px;
}
.recent-img {
  width: 100%;
}
.recent-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.date {
  font-size: 20px;
  margin-block: 7px;
  color: #57565b;
  line-height: 50px;
}
.recent-card-hdr {
  max-width: 330px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}
.recent-card > p {
  font-size: 18px;
  line-height: 30px;
  color: #57565b;
  margin-block: 11px 9px;
}
.recent-card-btm > img {
  width: 53px;
  height: 52px;
  object-fit: cover;
}
.recent-card-btm > p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0 !important;
  margin-left: 9px;
}
/* Sign Up Section */
.sign-sec-wrpr {
  background: var(--secondary-color);
  padding: 68px 0;
}
.signup-hdr {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.28px;
  color: var(--primary-color);
}
.signup-left > p {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 0.8px;
  color: var(--primary-color);
}
.signup-form {
  max-width: 897px;
}
#mail-input {
  width: 75%;
  background: none;
  background-color: var(--primary-color);
  padding: 37px 0 37px 42px;
  border: none;
}
#mail-input::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #57565b;
}
#submit-btn {
  width: 24.4%;
  font-size: 32px;
  padding: 27.5px 44.5px;
  color: var(--primary-color);
  background-color: #000;
  border: none;
  letter-spacing: 1.28px;
}
/* Footer Section */
.ftr-sec {
  background-color: #000;
}
.footer-top {
  padding: 114px 0 70px;
  border-bottom: 1px solid var(--primary-color);
}
.ftr-list1-wrpr {
  max-width: 263px;
}
.list-hdr {
  font-size: 22px;
  letter-spacing: 0.66px;
  color: var(--primary-color);
  margin-bottom: 35px;
}
.ftr-list > li,
.ftr-list > li > a {
  font-size: 20px;
  letter-spacing: 0.2px;
  color: var(--primary-color) !important;
}
.ftr-list > li {
  margin-bottom: 11px;
}
.ftr-links {
  position: relative;
  transition: all 0.2s linear;
}
.ftr-links::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
  top: 100%;
  width: 0%;
  transition: all 0.5s linear;
}
.ftr-links:hover {
  transform: translateY(-5px);
}
.ftr-links:hover::before {
  width: 100%;
}
.scl-list {
  margin-top: 41px;
}
.scl-links {
  margin-right: 35px;
}
.scl-links > a {
  width: 24px;
  transition: transform 0.3s ease;
}
.scl-links > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scl-links > a:hover {
  transform: translateY(-3px) scale(1.2);
}

.down-sec > a {
  max-width: 227px;
}
.down-sec > a > img {
  width: 100%;
  height: 100%;
}
.play-wrpr {
  margin-top: 44px;
}
.footer-btm {
  padding: 31px 20px;
}
.ftr-img > a {
  max-width: 170px;
}
.ftr-img > a > img {
  width: 100%;
  height: 100%;
}
.land-sec {
  padding: 14.5px 53px 17px 34px;
  border: 2px solid var(--primary-color);
  border-radius: 19px;
}
.land-sec > span {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: -0.48px;
  margin-left: 8px;
}
.pay-list {
  max-width: 267px;
  margin-left: 41px;
}
.pay-list > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Responsive Section */
@media screen and (max-width: 1750px) {
  .btn-primary {
    font-size: 18px;
  }
  .title3 {
    /* font-size: 33px; */
  }
  /* Navbar Section */

  .navbar-nav > li:nth-child(4) {
    margin-right: 70px !important;
  }
  .nav-item {
    margin-right: 40px;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .nav-btn {
    margin-right: 14px !important;
  }
  .love-icon {
    margin-inline: 20px;
  }
  .cart-icon {
    margin-right: 20px;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 24px;
  }
  .scroll-item1 > img {
    margin-right: 18px;
  }
  .scroll-item2 > img,
  .scroll-item5 > .img1 {
    margin-right: 25px;
  }
  .scroll-item3 > img {
    margin-right: 22px;
  }
  .scroll-item4 > img {
    margin-right: 35px;
  }
  /* Blog Section */
  .article-card {
    height: 643px;
  }
  .arti-hdr-right {
    font-size: 22px;
    margin-left: 23px;
  }
  .arti-bold {
    font-size: 28px;
    line-height: 34px;
  }
  .arti-btm {
    margin-top: 5px;
    padding-inline: 18px 10px;
  }
  .arti-btm > a {
    margin-top: 5px;
    font-size: 18px;
  }
  .arti-btm > p {
    font-size: 18px;
    line-height: 25px;
  }
  /* Sign Up Section */
  #submit-btn {
    width: 27.4%;
    font-size: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .title3 {
    font-size: 25px;
  }
  /* Navbar Section */

  .navbar-nav > li:nth-child(4) {
    margin-right: 50px !important;
  }
  .nav-item {
    margin-right: 30px;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 20px;
  }
  .scroll-item1 > img {
    margin-right: 14px;
  }
  .scroll-item2 > img,
  .scroll-item5 > .img1 {
    margin-right: 20px;
  }
  .scroll-item3 > img {
    margin-right: 18px;
  }
  .scroll-item4 > img {
    margin-right: 28px;
  }
  /* Blog Section */
  .article-card {
    height: 609px;
  }
  .blog-mid-cntn {
    bottom: 109px;
  }
  .arti-hdr-right {
    font-size: 20px;
  }
  .arti-bold {
    font-size: 24px;
    line-height: 30px;
  }
  /* Sign Up Section */
  #submit-btn {
    width: 29.4%;
    font-size: 28px;
    padding: 27.5px 32.5px;
  }
}
@media screen and (max-width: 1200px) {
  .btn-secondary {
    padding-block: 22.5px;
    font-size: 24px;
  }
  .title3 {
    font-size: 20px;
  }
  .sec-hdr > .title1 {
    font-size: 60px;
    margin: 9px 0 24px !important;
  }
  /* Navbar Section */
  .navbar-toggler {
    border: none !important;
    padding: 0 !important;
  }
  .navbar-toggler-icon {
    font-size: 1.8rem;
    background-image: none;
  }
  .offcanvas {
    flex-direction: column;
    overflow-y: hidden;
    min-height: 100vh;
  }
  .offcanvas-header {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--primary-color);
  }
  .nav-item {
    margin: 20px 0 0;
  }
  .navbar-nav > li:nth-child(4) {
    margin-right: 0 !important;
  }
  .nav-link:hover::before {
    width: 0% !important;
  }
  .dropdown-menu {
    position: absolute !important;
    left: -35% !important;
    top: 130% !important;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .active::before {
    width: 0% !important;
  }
  .nav-btn {
    margin: 20px 0 !important;
  }
  .nav-icons {
    flex-direction: column;
  }
  .love-icon {
    margin-inline: 30px !important;
  }
  .cart-icon {
    margin-right: 0;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 18px;
  }
  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }
    100% {
      right: 130%;
    }
  }
  /* Blog Section */
  .blog-sec {
    padding: 70px 0 90px;
  }
  .blog-hdr {
    margin-bottom: 54px;
  }
  .article-card {
    height: 550px;
  }
  .blog-cntn {
    padding-block: 15px 12px;
  }
  .arti-hdr-left {
    padding: 9px 16px 12px 16px;
  }
  .arti-hdr-right {
    font-size: 17px;
    margin-left: 11px;
  }
  .arti-btm > p {
    font-size: 17px;
    line-height: 24px;
  }
  .blog-mid-cntn {
    bottom: 105px;
    left: 30px;
  }
  /* Recent Blog Section */
  .recent-hdr {
    margin-bottom: 60px;
  }
  .date {
    margin-block: 10px 5px;
    line-height: 22px;
    font-size: 18px;
  }
  .recent-card-hdr {
    font-size: 20px;
    line-height: 26px;
  }
  .recent-card > p {
    line-height: 23px;
    margin-block: 6px 9px;
  }
  .recent-card-btm > img {
    width: 40px;
    height: 40px;
  }
  /* Sign Up Section */
  #mail-input {
    width: 75%;
    padding: 37px 0 37px 25px;
  }
  #submit-btn {
    width: 30.4%;
    font-size: 25px;
    padding: 27.5px 25.5px;
  }
  /* Footer Section */
  .ftr-list3-wrpr,
  .ftr-list4-wrpr,
  .ftr-list5-wrpr {
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .btn-secondary {
    padding-block: 20.5px;
    font-size: 20px;
  }
  .title3 {
    font-size: 18px;
  }
  .sec-hdr > .title1 {
    font-size: 50px;
    margin: 9px 0 14px !important;
  }
  .cursor {
    display: none;
  }
  /* Discount Section */
  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }

    100% {
      right: 176%;
    }
  }
  /* Brand Section */
  .blog-hdr {
    margin-bottom: 40px;
  }
  .article-card {
    height: 477px;
  }
  .blog-mid-cntn {
    bottom: 135px;
    left: 14px;
  }
  .arti-btm > a {
    margin-top: 5px;
    font-size: 16px;
  }
  .arti-btm > p {
    font-size: 15px;
    line-height: 22px;
  }
  .arti-btm {
    margin-top: 5px;
    padding-inline: 9px;
  }
  .arti-hdr {
    flex-direction: column !important;
    align-items: start !important;
  }
  .arti-hdr-right {
    font-size: 13px;
    margin-left: 11px;
  }
  .blog-cntn {
    padding-block: 8px;
  }
  .arti-hdr-left {
    max-width: 50px;
    padding: 6px 11px;
    margin-left: 11px;
    font-size: 30px;
  }
  .blog-mid-cntn .arti-hdr-left {
    margin-left: 0;
  }
  .arti-btm > p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0 !important;
  }
  .arti-btm > a {
    margin-top: 5px;
    font-size: 16px;
  }
  .arti-bold {
    font-size: 18px;
    line-height: 27px;
  }
  .arti-hdr-left > span {
    font-size: 16px;
    margin-top: -16px;
  }
  /* Recent Blog Section */
  .recent-sec {
    padding-bottom: 70px;
  }
  .recent-hdr {
    margin-bottom: 40px;
  }
  .date {
    margin-block: 10px 5px;
    line-height: 13px;
    font-size: 16px;
  }
  .recent-card-hdr {
    font-size: 18px;
    line-height: 22px;
  }
  .recent-card > p {
    font-size: 16px;
    line-height: 20px;
    margin-block: 6px 9px;
  }
  .recent-card-btm > p {
    font-size: 18px;
  }
  /* Brand Section */
  .brand-wrpr {
    position: relative;
  }
  .brand-wrpr::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #00000080;
  }
  .brand-item {
    /* border-bottom: 1px solid #00000080; */
    margin: 0 auto;
  }
  .sec-brand {
    border-right: none;
  }
  /* Sign Up Section */
  .sign-sec {
    padding-top: 100px;
  }
  .signup-left {
    margin-bottom: 30px;
  }
  /* Footer Section */
  .land-sec {
    padding: 14.5px 20px 17px 24px;

    border-radius: 16px;
  }
  .land-sec > span {
    font-size: 18px;
    margin-left: 8px;
  }
  .pay-list {
    margin-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .col20 {
    width: 33.33%;
  }
  .ftr-col {
    width: 50%;
  }
  .btn-secondary {
    padding-block: 13.5px;
    font-size: 14px;
  }
  .title2 {
    font-size: 26px;
  }
  .sec-hdr > .title1 {
    font-size: 40px;
    margin: 9px 0 10px !important;
  }
  .cursor {
    display: none;
  }
  /* Discount Section */
  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }

    100% {
      right: 234%;
    }
  }
  /* Blog Section */
  .blog-sec {
    padding: 40px 0;
  }
  .article-card {
    height: 626px;
    margin: 0 auto 30px;
  }
  .arti-hdr {
    flex-direction: row !important;
    align-items: center !important;
  }
  .blog-cntn {
    padding-block: 20px;
  }
  .arti-btm > p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0 !important;
  }
  .arti-bold {
    font-size: 24px;
    line-height: 27px;
  }
  .arti-hdr-right {
    font-size: 16px;
    margin-left: 14px;
  }
  .arti-btm {
    margin-top: 10px;
    padding-inline: 10px;
  }
  .arti-hdr-left {
    padding: 10px 16px;
    margin-left: 0;
  }
  /* Recent Blog Section */
  .recent-sec {
    padding-bottom: 45px;
  }
  .recent-card {
    margin: 0 auto 30px;
  }
  .date {
    line-height: 25px;
  }
  /* Brand Section */
  .brand-sec {
    padding: 40px 0 85px;
  }
  /* Sign Up Section */
  .signup-hdr {
    font-size: 26px;
  }
  .signup-left > p {
    font-size: 18px;
    margin-top: 11px;
  }
  #mail-input {
    width: 75%;
    padding: 15px 30px;
  }
  #submit-btn {
    width: 26.4%;
    font-size: 20px;
    padding: 18.5px 17.5px;
  }
  /* Footer Section */
  .footer-top {
    padding: 70px 0 47px;
    border-bottom: 1px solid var(--primary-color);
  }
  .ftr-list > li,
  .ftr-list > li > a {
    font-size: 16px;
  }
  .list-hdr {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .ftr-img {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .ftr-col {
    width: 100%;
  }
  .btn-secondary {
    padding-block: 9.5px;
    font-size: 11px;
  }
  .title1 {
    font-size: 50px;
  }
  .title2 {
    font-size: 22px;
  }
  .title3 {
    font-size: 16px;
  }
  .sec-hdr > .title1 {
    font-size: 26px;
    margin: 9px 0 10px !important;
  }
  /* Banner Section */
  .brdcrumb {
    margin-top: 28px;
    max-width: 187px;
  }
  .brd-link {
    font-size: 20px;
    font-weight: 500;
  }
  /* Discount Section */
  .auto-scroll {
    padding-block: 22px;
  }
  .auto-scroll-itms {
    font-size: 16px;
  }
  .auto-scroll-itms > img {
    max-width: 14px;
  }
  .auto-scroll {
    padding-block: 16px;
  }

  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }

    100% {
      right: 280%;
    }
  }
  /* Blog Section */
  .blog-sec {
    padding: 30px 0;
  }
  .blog-hdr {
    margin-bottom: 22px;
  }
  .blog-cntn {
    padding-block: 10px;
  }
  .arti-bold {
    font-size: 22px;
    line-height: 32px;
  }
  .arti-btm > p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0 !important;
  }

  .arti-hdr-right {
    font-size: 14px;
    margin-left: 14px;
  }
  .article-card {
    height: 468px;
    margin: 0 auto 20px;
  }
  .arti-btm > a {
    margin-top: 5px;
    font-size: 14px;
  }
  /* Recent Blog Section */
  .recent-sec {
    padding-bottom: 30px;
  }
  .recent-hdr {
    margin-bottom: 30px;
  }
  .recent-card {
    margin: 0 auto 20px;
  }

  .date {
    font-size: 14px;
    line-height: 18px;
  }
  .recent-card > p {
    font-size: 14px;
    line-height: 18px;
    margin-block: 3px 6px;
  }
  .recent-card-hdr {
    font-size: 16px;
    line-height: 18px;
  }
  .recent-card-btm > p {
    font-size: 16px;
  }
  .recent-card-btm > img {
    width: 30px;
    height: 30px;
  }
  /* Brand Section */

  .brand-sec {
    padding: 25px 0;
  }
  .brand-item {
    height: 205px;
  }
  .sec-brand {
    padding-top: 0px;
  }
  /* Sign Up Section */
  .sign-sec {
    padding-top: 60px;
  }
  .sign-sec-wrpr {
    background: var(--secondary-color);
    padding: 40px 0;
  }
  .signup-hdr {
    font-size: 17px;
  }
  .signup-left {
    margin-bottom: 20px;
  }
  .signup-left > p {
    font-size: 12px;
    margin-top: 8px;
  }
  #mail-input {
    width: 75%;
    padding: 10px 18px;
  }
  #mail-input::placeholder {
    font-size: 12px;
  }
  #submit-btn {
    width: 28.4%;
    font-size: 14px;
    padding: 14.5px 12.5px;
  }
  /* Footer List */
  .footer-top {
    padding: 57px 0 26px;
    border-bottom: 1px solid var(--primary-color);
  }
  .list-hdr {
    font-size: 18px;
    margin-bottom: 11px;
  }
  .scl-list {
    margin-top: 20px;
  }
  .ftr-list > li,
  .ftr-list > li > a {
    font-size: 14px;
  }
  .ftr-list1-wrpr,
  .ftr-list2-wrpr,
  .ftr-list3-wrpr,
  .ftr-list4-wrpr,
  .ftr-list5-wrpr {
    text-align: center;
    max-width: 187px;
    margin: 0 auto 40px;
  }
  .ftr-list2-wrpr {
    max-width: 233px;
  }
  .ftr-img {
    margin-bottom: 35px;
  }
  .land-sec {
    padding: 11.5px 16px 13px 19px;
    border-radius: 12px;
  }
  .land-sec > span {
    font-size: 14px;
    margin-left: 8px;
  }
  .pay-list {
    margin-left: 13px;
  }
}
@media screen and (max-width: 420px) {
  /* Brand Item */
  .brand-item {
    height: 155px;
  }
}
