@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Edwardian Script ITC;
  src: url(../assets/Font/ITCEDSCR.TTF);
}
:root {
  --primary-color: #ffffff;
  --quad-color: #fbf6f3;
  --secondary-color: #c0a483;
  --secondary-color-15: #c0a48326;
  --border-color: #ffffff4d;
  --tertiary-color: #991421;
  --animation-duration: 12s;
  --services-totalItems: 5;
  --services-totalItems2: 4;
  --animation-duration2: 10s;
}
body,
html {
  overflow-x: hidden;

  font-family: "El Messiri", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1870px !important;
}
.col53 {
  width: 53%;
  padding: 0 10px;
}
.col47 {
  width: 47%;
  padding: 0 10px;
}
.col39 {
  width: 39%;
  padding: 0 10px;
}

.col35 {
  width: 35%;
  padding: 0 10px;
}
.col26 {
  width: 26%;
  padding: 0 10px;
}
.col20 {
  width: 20%;
  padding: 0 10px;
}
.active {
  color: var(--primary-color) !important;
}
.active::before {
  width: 100% !important;
}
.btn-primary {
  background: none !important;
  color: var(--primary-color);
  font-size: 20px;
  padding: 14px 25px;
  font-weight: 500;
  border: none !important;
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;

  transform: translateX(100%);
}

.btn-primary:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;

  transform: translateX(-100%);
}

.btn-primary:hover:before {
  border-color: var(--primary-color);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.btn-primary:hover:after {
  border-color: var(--primary-color);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}
.btn-secondary {
  padding: 12px 26px;
  font-size: 19px;
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s linear;
}
.btn-secondary::before,
.btn-secondary::after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  height: 100%;
  background: var(--primary-color);
  transform: skew(20deg);
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: -1;
}
.btn-secondary::before {
  left: -15px;
}
.btn-secondary::after {
  right: -15px;
}
.btn-secondary:hover::before,
.btn-secondary:hover::after {
  width: 68%;
}
.btn-secondary:hover {
  color: #000;
  font-weight: 600;
}
.btn-secondary i {
  transition: all 0.4s ease;
}
.btn-secondary:hover > i {
  animation: spinArrow 0.6s ease forwards;
}

@keyframes spinArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title1 {
  font-family: "Beau Rivage", cursive;
  text-align: center;
  color: var(--primary-color);
  font-size: 180px;
  font-weight: 400;
}
.title2 {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1.28px;
}
.title3 {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-color);
}
.cursor {
  mix-blend-mode: difference;
  height: 18px;
  width: 18px;
  cursor: none;
  border-radius: 50%;
  background: var(--quad-color);
  transform: rotate(325deg);
  position: fixed;
  z-index: 9999;
}
/* Back TO Top */
.back-to-top-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 56px;
  height: 52px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 15px #f4d7b7;
  transition: all 0.3s ease;
}

.back-to-top-fixed.show {
  display: flex;
}
/* Navbar Section */
.hdr-sec {
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}
.navbar-brand {
  width: 168px;
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-brand > a {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.offcanvas {
  flex-direction: row;
}
.nav-item {
  margin-right: 50px;
}
.nav-link {
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 !important;
  color: var(--primary-color) !important;
  position: relative;
  transition: all 0.3s linear;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
  top: 100%;
  width: 0%;
  transition: all 0.5s linear;
}
.down-arrow:hover::before {
  width: 0% !important;
}
.down-arrow:hover > i {
  transform: rotate(180deg);
}
.nav-link:hover {
  color: var(--primary-color) !important;
  transform: translateY(-2px);
}
.nav-link:hover::before {
  width: 100%;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}
.navbar-nav > li:nth-child(4) {
  margin-right: 91px !important;
}
.dropdown-toggle::after {
  display: none;
}
.nav-btn {
  margin-right: 22px !important;
}
.search-btn {
  background: none !important;
  border: none !important;
}
.love-icon {
  margin-inline: 29px 28px;
}
.cart-icon {
  position: relative;
}
.cart-icon::before {
  content: "0";
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 26px;
  border-radius: 50%;
  bottom: 14px;
  left: 19.83px;
  background-color: var(--secondary-color);
}
/* Banner Section */
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider-1 {
  background: url(../assets/Banner-bg1.png) no-repeat center/cover;
}
.slider-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg2.jpg) no-repeat center/cover;
}
.slider-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg3.jpg) no-repeat center/cover;
}
.slider-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg4.jpg) no-repeat center/cover;
}
.slider-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg5.jpg) no-repeat center/cover;
}
.slider-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg6.jpg) no-repeat center/cover;
}

.slide-text {
  opacity: 0;
  transform: scale(1);
  transition: all 4s linear;
}
.slide-text > .title1 > span {
  display: block;
  color: var(--primary-color);
  font-size: 75px;
  text-align: center;
  font-weight: 400;
  font-family: "El Messiri", sans-serif;
  line-height: 0%;
}
.banner-hdr > .btn-secondary {
  margin-top: 20px;
}
.slide-text > .btn-secondary {
  margin-top: 40px;
}
/* Animation states */

.slide-text.active {
  opacity: 0;
  transform: scale(3);
}

.slide-text.fade-out {
  opacity: 1;
  transform: scale(1);
}
.swiper-button-next,
.swiper-button-prev {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}
/* Feature Section */
.feature-sec {
  margin-top: -80px;
  position: relative;
  z-index: 4;
}
.box {
  max-width: 100%;
  padding: 34px 35px 35px 19px;
}
.left-box {
  background: url(../assets/Ft-img1.png) no-repeat center/cover;
}
.mid-box {
  background: url(../assets/Ft-img2.png) no-repeat center/cover;
  padding: 35px !important;
}
.right-box {
  background: url(../assets/Ft-img3.png) no-repeat center/cover;
  padding: 35px !important;
}
.box-cntn {
  max-width: 100%;
  border: 1px solid var(--primary-color);
  padding-block: 263px 0;
}
.box-cntn > p {
  font-size: 20px;
  letter-spacing: 0.8px;
  color: var(--primary-color);
  font-weight: 500;
}

.box-cntn > a {
  width: 100px;
  height: 56px;
  overflow: hidden;
  color: var(--primary-color);
  position: relative;
  cursor: pointer;
}
.mid-box > .box-cntn > a {
  width: 81px;
}
.right-box > .box-cntn > a {
  width: 133px;
}
.box-cntn > a > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.box-cntn > a:before {
  content: "";
  position: absolute;
  height: 2px;
  top: 55%;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.box-cntn > a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.box-cntn > a .clone > *,
.box-cntn > a .text > * {
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: 0.2s;
  margin-left: 4px;
}

.box-cntn > a .clone > * {
  transform: translateY(60px);
}

.box-cntn > a:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.box-cntn > a:hover .text {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.box-cntn > a:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.box-cntn > a:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.box-cntn > a:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}
/* Discount Section */
.disc-sec {
  padding: 23px 0;
}
.auto-scroll {
  padding-block: 27px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #ffffff 0%, #d7aa76 100%);
  border: 1px solid var(--tertiary-color);
}
.auto-scroll-itms {
  font-size: 30px;
  white-space: nowrap;
  letter-spacing: 1.2px;
  font-weight: 600;
  background: linear-gradient(to right, #991421 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  animation: rightTOLeft linear infinite;
  animation-duration: var(--animation-duration);
  animation-delay: calc(
    var(--animation-duration) / var(--services-totalItems) *
      ((var(--services-totalItems) - var(--i)) * -1)
  );
}
.auto-scroll-itms > img {
  max-width: 23px;
}
.scroll-item1 > img {
  margin-right: 24px;
}
.scroll-item2 > img,
.scroll-item5 > .img1 {
  margin-right: 31px;
}
.scroll-item3 > img {
  margin-right: 28px;
}
.scroll-item4 > img {
  margin-right: 48px;
}

@keyframes rightTOLeft {
  0% {
    right: -10%;
  }
  100% {
    right: 110%;
  }
}
/* Popular Section */
.popular-sec {
  padding: 7.813vh 0 230px;
}
.popular-hdr {
  margin-bottom: 63px;
}
.bottle-img {
  max-width: 210px;
  margin: 0 auto;
}
.bottle1 {
  max-width: 229px;
}
.bottle-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottle-typ {
  margin-top: 37px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.96px;
}
/* Special Section */
.spcl-sec {
  background: var(--quad-color);
  /* padding: 179px 0 15px; */
}

.spcl-img {
  max-width: 782px;
  position: relative;
  margin-top: -62px;
  margin-left: -37px;
  overflow: visible;
}
.spcl-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spcl-btl {
  max-width: 324px;
  position: absolute;
  bottom: -72px;
  top: -71px;
  right: -162px;
  overflow: visible;
  z-index: 2;
}
.spcl-btl > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spcl-text {
  font-family: "Edwardian Script ITC";
  font-size: 400px;
  background: linear-gradient(to bottom, #d7aa76 11%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-91.08deg);
  position: absolute;
  bottom: -86px;
  top: 81px;
  right: -743px;
  z-index: 1;
}
.spcl-rt {
  max-width: 631px;
  margin: 0 auto;
  margin: 179px 0;
}
.spcl-hdr {
  max-width: 586px;
  font-size: 70px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: -1.4px;
}
.spcl-hdr > span {
  margin-right: 40px;
}
.spcl-desc {
  margin-block: 58px;
}
.spcl-desc p {
  font-size: 20px;
  line-height: 32px;
  color: #000;
}
.spcl-btn > .btn-secondary {
  background-color: #000;
  padding: 12px 35px;
  outline: none;
}
.spcl-btn > .btn-secondary:hover {
  border: 1px solid #000;
}
/* Recommendation Section */
.rec-sec {
  padding: 181px 0 53px;
}
.rec-hdr {
  margin-bottom: 63px;
}
.rec-bottle-img {
  max-width: 435px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.rec-bottle-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rec-bottle-img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: var(--secondary-color-15);
  transition: height 0.5s ease;
  z-index: 1;
}
.rec-bottle-img:hover::before {
  height: 100%;
}
.temp {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 66px;
  padding: 4px 19px 2px;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  animation: pulseHot 1.5s infinite ease-in-out;
}
.hover-icon {
  position: absolute;
  right: 13px;
  top: 60px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.4s ease;
  z-index: 3;
}
.hover-icon > button {
  background: var(--secondary-color);
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.hover-icon > button:hover {
  transform: scale(1.1);
}
.rec-bottle-img:hover .hover-icon {
  opacity: 1;
  transform: translateY(0);
}
.rec-bottle-img:hover > img {
  transform: scale(1.05);
}

@keyframes pulseHot {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(192, 164, 131, 0.8);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(192, 164, 131, 1);
  }
}
.discount {
  position: absolute;
  left: 13px;
  top: 13px;
  width: 66px;
  padding: 4px 14px 2px;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  animation: flickerHot 0.15s infinite alternate;
}
@keyframes flickerHot {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating {
  margin-block: 11px;
}
.review {
  font-size: 18px;
  color: #6b697d;
  margin-left: 10px;
}
.bttl-desc span:first-child {
  max-width: 356px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1.1px;
}
.bttl-desc span:last-child {
  display: block;
  font-size: 20px;
  color: var(--tertiary-color);
}
/* Offer & Shop Section */
.offnshp-box {
  width: 100%;
  padding: 172px 0 125px;
  height: 531px;
}
.offnshp-box1 {
  background: url(../assets/Box1-bg.png) no-repeat center/cover;
}
.offnshp-box2 {
  background: url(../assets/Box2-bg.png) no-repeat center/cover;
}
.box-hdr {
  font-size: 50px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-color);
}
.offnshp-box > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-color);
  margin: 38px auto;
}
.offnshp-box1 > p {
  max-width: 482px;
}
.offnshp-box2 > p {
  max-width: 461px;
}
.box-btn > .btn-secondary {
  padding: 23px 42px 25px 40px;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 600;
}
.box-btn > .btn-secondary > i {
  margin-left: 6px;
}
/* History Section */
.history-sec {
  background: url(../assets/History-bg.png) no-repeat center/cover;
  padding: 246px 0 253px;
}
.history-cntn {
  max-width: 712px;
  margin-left: auto;
}
.history-hdr {
  font-size: 70px;
  font-weight: 500;
  line-height: 90px;
}
.history-cntn > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-block: 28px 59px;
}
/* Trending Section */
.trend-sec {
  padding: 117px 0;
}
.trend-img {
  height: 439px;
  border: 1px solid #80808080;
}
.trend-swiper .bttl-desc > span {
  color: #000;
}
.price {
  font-size: 20px;
  color: var(--tertiary-color);
}
.price > span {
  color: #57565b;
}
/* Vintage Section */
.vint-sec {
  padding: 137px 0 121px;
}
.vint-hdr {
  max-width: 463px;
  font-size: 70px;
  font-weight: 500;
  line-height: 90px;
  color: #000;
}
.vint-left-sec > p {
  max-width: 666px;
  margin-block: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #000;
}
.vint-img1 {
  position: relative;
  max-width: 770px;
  margin: 0 auto;
}
.vint-img1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vint-img1::before {
  content: "";
  position: absolute;
  border-radius: 428.5px;
  inset: 106px 82px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.vint-img2 {
  max-width: 272px;
  position: absolute;
  bottom: 0;
  right: -54px;
}
.vint-img2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Club Section */
.club-sec {
  background: linear-gradient(
    -135deg,
    rgba(153, 20, 33, 0.95) 0%,
    rgba(0, 0, 0, 0.9) 90%
  );
}
.club-container {
  padding: 86px 93px 95px;
}
.club-cntn {
  border: 1px solid var(--primary-color);
  padding: 93px 62px 103px 50px;
}
.club-hdr {
  font-size: 70px;
  color: var(--primary-color);
}
.club-cntn > p {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.8px;
  margin-block: 35px 47px;
}
.club-img {
  max-width: 1001px;
  margin-left: auto;
}
.club-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Brand Section */
.brand-sec {
  padding: 121px 0;
}
.brand-wrpr {
  border-block: 1px solid #00000080;
  /* height: 240px; */
  /* padding: 49px 0 70px; */
}
.brand-item {
  border-right: 1px solid #00000080;
  height: 240px;
}
.sec-brand {
  padding-top: 20px;
}
.last-brand {
  border: none;
  padding-top: 30px;
}
.brand-img-wrpr {
  margin: 0 auto;
}
.brand-img-wrpr1 {
  max-width: 207px;
}
.brand-img-wrpr2 {
  max-width: 177px;
}
.brand-img-wrpr3 {
  max-width: 202px;
}
.brand-img-wrpr4 {
  max-width: 196px;
}
.brand-img-wrpr > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Testimonial Section */
.testi-sec {
  background: url(../assets/Testimonial-bg.png) no-repeat center/cover;
  padding: 100px 0 30px;
}
.testi-cntn {
  max-width: 771px;
  margin: 0 auto;
}
.comma {
  max-width: 92px;
  margin: 0 auto;
}
.comma > img {
  width: 100%;
  height: 100%;
}
.testi-swiper {
  width: 100%;
  height: 100%;
}
.testi-rating {
  margin-block: 30px 10px;
}
.testi-container > p {
  font-size: 40px;
}
.testi-img {
  max-width: 146px;
  height: 139px;
  margin: 14px auto 11px;
}
.testi-img > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testi-name {
  font-size: 40px;
  margin-bottom: 30px;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background-color: #57565b;
}
/* Sign Up Section */
.sign-sec {
  padding-top: 176px;
}
.sign-sec-wrpr {
  background: var(--secondary-color);
  padding: 68px 0;
}
.signup-hdr {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.28px;
  color: var(--primary-color);
}
.signup-left > p {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 0.8px;
  color: var(--primary-color);
}
.signup-form {
  max-width: 897px;
}
#mail-input {
  width: 75%;
  background: none;
  background-color: var(--primary-color);
  padding: 37px 0 37px 42px;
  border: none;
}
#mail-input::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #57565b;
}
#submit-btn {
  width: 24.4%;
  font-size: 32px;
  padding: 27.5px 44.5px;
  color: var(--primary-color);
  background-color: #000;
  border: none;
  letter-spacing: 1.28px;
}
/* Footer Section */
.ftr-sec {
  background-color: #000;
}
.footer-top {
  padding: 114px 0 70px;
  border-bottom: 1px solid var(--primary-color);
}
.ftr-list1-wrpr {
  max-width: 263px;
}
.list-hdr {
  font-size: 22px;
  letter-spacing: 0.66px;
  color: var(--primary-color);
  margin-bottom: 35px;
}
.ftr-list > li,
.ftr-list > li > a {
  font-size: 20px;
  letter-spacing: 0.2px;
  color: var(--primary-color) !important;
}
.ftr-list > li {
  margin-bottom: 11px;
}
.ftr-links {
  position: relative;
  transition: all 0.2s linear;
}
.ftr-links::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
  top: 100%;
  width: 0%;
  transition: all 0.5s linear;
}
.ftr-links:hover {
  transform: translateY(-5px);
}
.ftr-links:hover::before {
  width: 100%;
}
.scl-list {
  margin-top: 41px;
}
.scl-links {
  margin-right: 35px;
}
.scl-links > a {
  width: 24px;
  transition: transform 0.3s ease;
}
.scl-links > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scl-links > a:hover {
  transform: translateY(-3px) scale(1.2);
}

.down-sec > a {
  max-width: 227px;
}
.down-sec > a > img {
  width: 100%;
  height: 100%;
}
.play-wrpr {
  margin-top: 44px;
}
.footer-btm {
  padding: 31px 20px;
}
.ftr-img > a {
  max-width: 170px;
}
.ftr-img > a > img {
  width: 100%;
  height: 100%;
}
.land-sec {
  padding: 14.5px 53px 17px 34px;
  border: 2px solid var(--primary-color);
  border-radius: 19px;
}
.land-sec > span {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: -0.48px;
  margin-left: 8px;
}
.pay-list {
  max-width: 267px;
  margin-left: 41px;
}
.pay-list > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Response Section */
@media screen and (max-width: 1750px) {
  .btn-primary {
    font-size: 18px;
  }
  .title3 {
    font-size: 33px;
  }
  /* Navbar Section */

  .navbar-nav > li:nth-child(4) {
    margin-right: 70px !important;
  }
  .nav-item {
    margin-right: 40px;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .nav-btn {
    margin-right: 14px !important;
  }
  .love-icon {
    margin-inline: 20px;
  }
  .cart-icon {
    margin-right: 20px;
  }
  /* Banner Section */
  /* Feature Section */
  .box-cntn {
    padding-block: 140px 0;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 24px;
  }
  .scroll-item1 > img {
    margin-right: 18px;
  }
  .scroll-item2 > img,
  .scroll-item5 > .img1 {
    margin-right: 25px;
  }
  .scroll-item3 > img {
    margin-right: 22px;
  }
  .scroll-item4 > img {
    margin-right: 35px;
  }
  /* Special Section */
  .spcl-img {
    max-width: 650px;
    margin-top: -270px;
    margin-left: -12px;
  }
  .spcl-btl {
    max-width: 324px;
    right: -127px;
  }
  .spcl-text {
    font-size: 334px;
    right: -583px;
  }
  .spcl-rt {
    margin: 90px 0;
  }
  .spcl-desc {
    margin-block: 28px;
  }
  .spcl-hdr {
    font-size: 58px;
    line-height: 80px;
  }
  .spcl-desc p {
    font-size: 19px;
    line-height: 29px;
    color: #000;
  }
  /* History Section */
  .history-hdr {
    font-size: 58px;
    line-height: 80px;
  }
  .history-cntn > p {
    margin-block: 20px 40px;
    font-size: 19px;
    line-height: 30px;
  }
  /* Vintage Section */
  .vint-hdr {
    font-size: 58px;
    line-height: 80px;
  }
  .vint-left-sec > p {
    margin-block: 50px;
    font-size: 19px;
    line-height: 30px;
  }

  .vint-img1 {
    max-width: 720px;
    margin: 0;
  }
  .vint-img2 {
    max-width: 251px;
    right: -30px;
  }
  /* Club Section */
  .club-container {
    padding: 30px 48px 33px;
  }
  .club-cntn {
    padding: 73px 62px 77px 50px;
  }
  .club-hdr {
    font-size: 58px;
    line-height: 80px;
  }
  .club-cntn > p {
    font-size: 19px;
    line-height: 30px;
    margin-block: 5px 23px;
  }
  /* Sign Up Section */
  #submit-btn {
    width: 27.4%;
    font-size: 30px;
  }
}

@media screen and (max-width: 1400px) {
  .title3 {
    font-size: 25px;
  }
  /* Navbar Section */

  .navbar-nav > li:nth-child(4) {
    margin-right: 50px !important;
  }
  .nav-item {
    margin-right: 30px;
  }
  /* Banner Section */
  /* Feature Section */
  .box-cntn > p {
    font-size: 18px;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 20px;
  }
  .scroll-item1 > img {
    margin-right: 14px;
  }
  .scroll-item2 > img,
  .scroll-item5 > .img1 {
    margin-right: 20px;
  }
  .scroll-item3 > img {
    margin-right: 18px;
  }
  .scroll-item4 > img {
    margin-right: 28px;
  }
  /* Special Section */
  .spcl-img {
    max-width: 555px;
    margin-top: -124px;
    margin-left: -12px;
  }
  .spcl-btl {
    max-width: 291px;
    right: -114px;
  }
  .spcl-text {
    font-size: 300px;
    right: -523px;
  }
  /* Trending Section */
  .trend-sec {
    padding: 90px 0;
  }
  /* History Section */
  .history-sec {
    padding: 200px 0;
  }
  /* Vintage Section */
  .vint-sec {
    padding: 100px 0;
  }
  .vint-img1 {
    max-width: 660px;
    margin: 0;
  }
  .vint-img2 {
    max-width: 232px;
    right: -24px;
  }

  /* Club Section */
  .club-cntn {
    padding: 44px 54px 73px 47px;
  }
  .club-container {
    padding: 30px 48px 33px;
  }
  /* Sign Up Section */
  #submit-btn {
    width: 29.4%;
    font-size: 28px;
    padding: 27.5px 32.5px;
  }
}

@media screen and (max-width: 1200px) {
  .col20 {
    width: 33.33%;
  }
  .title3 {
    font-size: 20px;
  }
  /* Navbar Section */
  .navbar-toggler {
    padding: 0 !important;
  }
  .navbar-toggler-icon {
    font-size: 1.8rem;
    background-image: none;
  }
  .offcanvas {
    flex-direction: column;
    overflow-y: hidden;
    min-height: 100vh;
  }
  .offcanvas-header {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--primary-color);
  }
  .nav-item {
    margin: 20px 0 0;
  }
  .navbar-nav > li:nth-child(4) {
    margin-right: 0 !important;
  }
  .nav-link:hover::before {
    width: 0% !important;
  }
  .active::before {
    width: 0% !important;
  }
  .nav-btn {
    margin: 20px 0 !important;
  }
  .nav-icons {
    flex-direction: column;
  }
  .love-icon {
    margin-inline: 30px !important;
  }
  .cart-icon {
    margin-right: 0;
  }
  /* Banner Section */
  /* Feature Section */
  .box {
    padding: 25px !important;
  }
  .box-cntn {
    padding-block: 90px 0;
  }
  .box-cntn > p {
    font-size: 14px;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 18px;
  }
  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }
    100% {
      right: 130%;
    }
  }
  /* Special Section */
  .spcl-img {
    margin: -30px auto 0;
    max-width: 500px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -100px;
  }
  .spcl-text {
    font-size: 273px;
    right: -465px;
    bottom: -42px;
    top: 54px;
  }
  .spcl-rt {
    max-width: 100%;
  }
  .spcl-hdr {
    max-width: 100%;
  }
  .spcl-hdr > span {
    margin-right: 0;
  }
  .spcl-desc {
    margin-block: 9px 28px;
  }
  /* Offer & Shop Section */
  .offnshp-box {
    padding: 146px 0 100px;
    height: 460px;
  }
  .offnshp-box > p {
    font-size: 20px;
    line-height: 24px;
    margin: 30px auto;
  }
  .box-hdr {
    font-size: 40px;
    line-height: 20px;
  }
  /* Vintage Section */
  .vint-img1 {
    margin: 0 auto 70px;
  }
  .vint-hdr {
    max-width: 100%;
  }
  .vint-left-sec > p {
    margin-block: 20px 50px;
    max-width: 100%;
  }
  /* Club Section */
  .club-cntn {
    padding: 21px 27px 31px 18px;
  }
  .club-hdr {
    font-size: 50px;
    line-height: 70px;
  }
  .club-cntn > p {
    font-size: 17px;
    line-height: 26px;
    margin-block: 5px 15px;
  }
  /* Sign Up Section */
  #mail-input {
    width: 75%;
    padding: 37px 0 37px 25px;
  }
  #submit-btn {
    width: 30.4%;
    font-size: 25px;
    padding: 27.5px 25.5px;
  }
  /* Footer Section */
  .ftr-list3-wrpr,
  .ftr-list4-wrpr,
  .ftr-list5-wrpr {
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .col26,
  .col35,
  .col39 {
    width: 100%;
  }
  .col53,
  .col47 {
    width: 100%;
  }
  .col39 {
    margin: 0 auto;
  }
  .title1 {
    font-size: 120px;
    font-weight: 400;
  }
  .title3 {
    font-size: 32px;
  }
  .cursor {
    display: none;
  }
  /* Banner Section */
  .swiper-container {
    padding: 120px 0;
  }

  .slide-text > .title1 > span {
    font-size: 45px;
  }
  /* Feature Section */
  .box {
    height: 360px;
    margin: 30px auto 0;
  }
  .box-cntn {
    padding-block: 140px;
    height: 100%;
  }
  .box-cntn > p {
    font-size: 26px;
  }
  /* Discount Section */
  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }

    100% {
      right: 176%;
    }
  }
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 430px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -90px;
    bottom: -50px;
    top: -47px;
  }
  .spcl-text {
    font-size: 227px;
    right: -396px;
    bottom: -52px;
    top: 45px;
  }
  /* Recommendation Section */
  .rec-sec {
    padding: 130px 0 53px;
  }
  /* Offer & Shop Section */
  .offnshp-box {
    padding: 100px 30px 63px;
    height: 390px;
  }
  .box-hdr {
    font-size: 28px;
    line-height: 30px;
  }
  .offnshp-box > p {
    font-size: 16px;
    line-height: 24px;
    margin: 30px auto;
  }
  .box-btn > .btn-secondary {
    padding: 22px 24px 25px 24px;
    font-size: 14px;
    letter-spacing: 3px;
  }
  /* Brand Section */
  .brand-wrpr {
    position: relative;
  }
  .brand-wrpr::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #00000080;
  }
  .brand-item {
    /* border-bottom: 1px solid #00000080; */
    margin: 0 auto;
  }
  .sec-brand {
    border-right: none;
  }
  /* Testimonial Section */
  .testi-container > p {
    font-size: 30px;
  }
  .testi-name {
    font-size: 30px;
    margin-bottom: 30px;
  }
  /* Sign Up Section */
  .sign-sec {
    padding-top: 100px;
  }
  .signup-left {
    margin-bottom: 30px;
  }
  /* Footer Section */
  .land-sec {
    padding: 14.5px 20px 17px 24px;

    border-radius: 16px;
  }
  .land-sec > span {
    font-size: 18px;
    margin-left: 8px;
  }
  .pay-list {
    margin-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .col20 {
    width: 50%;
  }
  .title2 {
    font-size: 28px;
  }
  /* Banner Section */
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
.slide-text.active {
  opacity: 0;
  transform: scale(2);
}
  /* Popular Section */
  .popular-sec {
    padding: 7.813vh 0 160px;
  }
  .popular-hdr {
    margin-bottom: 40px;
  }
  .bottle-typ {
    margin-top: 20px;
    font-size: 20px;
  }
  /* Discount Section */
  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }

    100% {
      right: 234%;
    }
  }
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 310px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -69px;
    bottom: -42px;
    top: -36px;
  }
  .spcl-text {
    font-size: 164px;
    right: -292px;
    bottom: -52px;
    top: 45px;
  }
  .spcl-rt {
    margin: 70px 0 40px;
  }
  .spcl-hdr {
    font-size: 40px;
    line-height: 80px;
  }
  .spcl-desc p {
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }
  /* Recommendation Section */
  .rec-sec {
    padding: 95px 0 53px;
  }
  .rating {
    margin-block: 11px 5px;
  }
  .temp {
    font-size: 16px;
  }
  .bttl-desc span:first-child {
    font-size: 18px;
  }
  .bttl-desc span:last-child {
    font-size: 18px;
  }
  /*  Offer & Shop Section */
  .offnshp-box {
    margin-bottom: 30px;
  }
  /* Trend Section */
  .trend-sec {
    padding: 90px 0;
  }
  .trend-img {
    height: 400px;
  }
  /* History Section */
  .history-sec {
    padding: 130px 0;
  }
  .history-hdr {
    font-size: 40px;
    line-height: 50px;
  }
  .history-cntn > p {
    margin-block: 5px 29px;
    font-size: 16px;
    line-height: 30px;
  }
  /* Vintage Section */
  .vint-sec {
    padding: 50px 0;
  }
  .vint-hdr {
    font-size: 40px;
    line-height: 60px;
  }
  .vint-left-sec > p {
    margin-block: 10px 20px;
    font-size: 16px;
    line-height: 26px;
  }
  .vint-img1 {
    max-width: 500px;
    margin-bottom: 40px;
  }
  .vint-img1::before {
    inset: 83px 58px;
  }
  .vint-img2 {
    max-width: 158px;
    right: -38px;
  }

  /* Club Section */
  .club-hdr {
    font-size: 40px;
    line-height: 60px;
  }
  .club-cntn > p {
    font-size: 16px;
    line-height: 26px;
  }
  /* Brand Section */
  .brand-sec {
    padding: 85px 0;
  }
  /* Testimonial Section */
  .testi-sec {
    padding: 60px 0 25px;
  }
  .testi-container > p {
    font-size: 22px;
  }
  .testi-name {
    font-size: 22px;
    margin-bottom: 30px;
  }
  /* Sign Up Section */
  .signup-hdr {
    font-size: 26px;
  }
  .signup-left > p {
    font-size: 18px;
    margin-top: 11px;
  }
  #mail-input {
    width: 75%;
    padding: 15px 30px;
  }
  #submit-btn {
    width: 26.4%;
    font-size: 20px;
    padding: 18.5px 17.5px;
  }
  /* Footer Section */
  .footer-top {
    padding: 70px 0 47px;
    border-bottom: 1px solid var(--primary-color);
  }
  .ftr-list > li,
  .ftr-list > li > a {
    font-size: 16px;
  }
  .list-hdr {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .ftr-img {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .col20 {
    width: 100%;
  }
  .title1 {
    font-size: 90px;
    font-weight: 400;
  }
  .title2 {
    font-size: 24px;
  }
  .title3 {
    font-size: 22px;
  }
  /* Back To Top */
  .back-to-top-fixed {
    width: 42px;
    height: 41px;
    font-size: 21px;
  }
  /* Banner Section */
  .swiper-container {
    min-height: 80vh;
    padding: 120px 0 90px;
  }
  .banner-hdr {
    max-width: 396px;
  }
  .slide-text > .btn-secondary {
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 15px;
  }

  .slide-text > .title1 > span {
    font-size: 35px;
  }
.slide-text.active {
  opacity: 0;
  transform: scale(1.6);
}
  /* Feature Section */
  .feature-sec {
    margin-top: -90px;
  }
  .box {
    height: 330px;
    margin: 30px auto 0;
  }
  .box-cntn > p {
    font-size: 16px;
  }
  .box-cntn > a {
    width: 73px;
  }
  .mid-box > .box-cntn > a {
    width: 61px;
  }
  .right-box > .box-cntn > a {
    width: 97px;
  }
  .box-cntn > a .clone > *,
  .box-cntn > a .text > * {
    font-size: 14px;
  }

  /* Discount Section */
  .auto-scroll {
    padding-block: 22px;
  }
  .auto-scroll-itms {
    font-size: 16px;
  }
  .auto-scroll-itms > img {
    max-width: 14px;
  }
  .auto-scroll {
    padding-block: 16px;
  }

  @keyframes rightTOLeft {
    0% {
      right: -10%;
    }

    100% {
      right: 280%;
    }
  }
  /* Popular Section */
  .popular-sec {
    padding: 7.813vh 0 100px;
  }
  .bottle-typ {
    margin-top: 16px;
    font-size: 18px;
  }
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 256px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -53px;
    bottom: -29px;
    top: -35px;
  }
  .spcl-text {
    font-size: 98px;
    right: -225px;
    bottom: -28px;
    top: 20px;
  }
  .spcl-rt {
    margin: 34px 0 20px;
  }
  .spcl-hdr {
    font-size: 20px;
    line-height: 43px;
  }
  .spcl-desc {
    margin-block: 5px 20px;
  }
  .spcl-desc p {
    font-size: 12px;
    line-height: 16px;
    color: #000;
  }
  .spcl-btn > .btn-secondary {
    font-size: 12px;
    background-color: #000;
    padding: 10px 20px;
  }
  /* Recommendation Section */
  .rec-sec {
    padding: 60px 0 35px;
  }
  /*  Offer & Shop Section */
  .offnshp-box {
    padding: 100px 20px 63px;
    height: 390px;
  }
  .box-btn > .btn-secondary {
    padding: 15px 24px;
    font-size: 14px;
    letter-spacing: 3px;
  }
  /* Trend Section */
  .trend-sec {
    padding: 60px 0;
  }
  .trend-sec {
    padding: 60px 0;
  }
  /* History Section */
  .history-sec {
    padding: 90px 0;
  }
  .history-hdr {
    font-size: 20px;
    line-height: 30px;
  }
  .history-cntn > p {
    margin-block: 5px 18px;
    font-size: 12px;
    line-height: 19px;
  }
  /* Vintage Section */
  .vint-sec {
    padding: 25px 0 40px;
  }
  .vint-hdr {
    font-size: 20px;
    line-height: 40px;
  }
  .vint-left-sec > p {
    margin-block: 10px 20px;
    font-size: 12px;
    line-height: 22px;
  }
  .vint-img1 {
    max-width: 360px;
    margin-bottom: 24px;
  }
  .vint-img2 {
    max-width: 92px;
    right: -9px;
  }
  /* Club Section */
  .club-container {
    padding: 29px 29px 33px;
  }
  .club-hdr {
    font-size: 20px;
    line-height: 40px;
  }
  .club-cntn > p {
    font-size: 12px;
    line-height: 22px;
  }
  /* Brand Section */
  .brand-sec {
    padding: 60px 0;
  }
  .brand-item {
    height: 205px;
  }
  .sec-brand {
    padding-top: 0px;
  }
  /* Testimonial Section */

  .testi-rating {
    margin-block: 19px 10px;
  }
  .testi-container > p {
    font-size: 16px;
  }
  .testi-name {
    font-size: 16px;
    margin-bottom: 30px;
  }
  /* Sign Up Section */
  .sign-sec {
    padding-top: 60px;
  }
  .sign-sec-wrpr {
    background: var(--secondary-color);
    padding: 40px 0;
  }
  .signup-hdr {
    font-size: 17px;
  }
  .signup-left {
    margin-bottom: 20px;
  }
  .signup-left > p {
    font-size: 12px;
    margin-top: 8px;
  }
  #mail-input {
    width: 75%;
    padding: 10px 18px;
  }
  #mail-input::placeholder {
    font-size: 12px;
  }
  #submit-btn {
    width: 28.4%;
    font-size: 14px;
    padding: 14.5px 12.5px;
  }
  /* Footer List */
  .footer-top {
    padding: 57px 0 26px;
    border-bottom: 1px solid var(--primary-color);
  }
  .list-hdr {
    font-size: 18px;
    margin-bottom: 11px;
  }
  .scl-list {
    margin-top: 20px;
  }
  .ftr-list > li,
  .ftr-list > li > a {
    font-size: 14px;
  }
  .ftr-list1-wrpr,
  .ftr-list2-wrpr,
  .ftr-list3-wrpr,
  .ftr-list4-wrpr,
  .ftr-list5-wrpr {
    text-align: center;
    max-width: 187px;
    margin: 0 auto 40px;
  }
  .ftr-list2-wrpr {
    max-width: 233px;
  }
  .ftr-img {
    margin-bottom: 35px;
  }
  .land-sec {
    padding: 11.5px 16px 13px 19px;
    border-radius: 12px;
  }
  .land-sec > span {
    font-size: 14px;
    margin-left: 8px;
  }
  .pay-list {
    margin-left: 13px;
  }
}

@media screen and (max-width: 420px) {
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 200px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -43px;
    bottom: -25px;
    top: -24px;
  }
  .spcl-text {
    font-size: 78px;
    right: -182px;
    bottom: -32px;
    top: 20px;
  }
  /* Brand Item */
  .brand-item {
    height: 155px;
  }
}
