@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Edwardian Script ITC;
  src: url(../assets/Font/ITCEDSCR.TTF);
}
:root {
  --primary-color: #ffffff;
  --quad-color: #fbf6f3;
  --secondary-color: #c0a483;
  --secondary-color-15: #c0a48326;
  --border-color: #ffffff4d;
  --tertiary-color: #991421;
}
body,
html {
  overflow-x: hidden;

  font-family: "El Messiri", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1870px !important;
}

.col39 {
  width: 39%;
  padding: 0 10px;
}

.col35 {
  width: 35%;
  padding: 0 10px;
}
.col26 {
  width: 26%;
  padding: 0 10px;
}

.active {
  color: var(--primary-color) !important;
}
.active::before {
  width: 100% !important;
}
.btn-primary {
  background: none !important;
  color: var(--primary-color);
  font-size: 20px;
  padding: 14px 25px;
  font-weight: 500;
  border: none !important;
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;

  transform: translateX(100%);
}

.btn-primary:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;

  transform: translateX(-100%);
}

.btn-primary:hover:before {
  border-color: var(--primary-color);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.btn-primary:hover:after {
  border-color: var(--primary-color);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}
.btn-secondary {
  padding: 12px 26px;
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-secondary::before,
.btn-secondary::after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  height: 100%;
  background: var(--primary-color);
  transform: skew(20deg);
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: -1;
}
.btn-secondary::before {
  left: -15px;
}
.btn-secondary::after {
  right: -15px;
}
.btn-secondary:hover::before,
.btn-secondary:hover::after {
  width: 58%;
}
.btn-secondary:hover {
  color: #000;
  font-weight: 600;
}
.title1 {
  font-family: "Beau Rivage", cursive;
  color: var(--primary-color);
  font-size: 180px;
  font-weight: 400;
}
.title2 {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1.28px;
}
.title3 {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-color);
}
/* Navbar Section */
.hdr-sec {
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}
.navbar-brand {
  width: 168px;
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-brand > a {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.offcanvas {
  flex-direction: row;
}
.nav-item {
  margin-right: 50px;
}
.nav-link {
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 !important;
  color: var(--primary-color) !important;
  position: relative;
  transition: all 0.3s linear;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
  top: 100%;
  width: 0%;
  transition: all 0.5s linear;
}
.nav-link:hover {
  color: var(--primary-color) !important;
  transform: translateY(-2px);
}
.nav-link:hover::before {
  width: 100%;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}
.navbar-nav > li:nth-child(4) {
  margin-right: 91px !important;
}
.dropdown-toggle::after {
  display: none;
}
.nav-btn {
  margin-right: 22px !important;
}
.search-btn {
  background: none !important;
  border: none !important;
}
.love-icon {
  margin-inline: 29px 28px;
}
.cart-icon {
  position: relative;
}
.cart-icon::before {
  content: "0";
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 26px;
  border-radius: 50%;
  bottom: 14px;
  left: 19.83px;
  background-color: var(--secondary-color);
}
/* Banner Section */
.banner-sec {
  overflow: hidden;
}
.mySwiper {
  width: 100%;
  overflow: hidden;
}
.swiper-container {
  background: url(../assets/Banner-bg1.png) no-repeat center/cover;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  /* padding: 181px 0 147px; */
}
.banner-cntn {
  width: 100%;
  margin: 0 auto;
}
.swiper-container-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg2.jpg) no-repeat center/cover;
}
.swiper-container-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg3.jpg) no-repeat center/cover;
}
.swiper-container-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg4.jpg) no-repeat center/cover;
}
.swiper-container-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg5.jpg) no-repeat center/cover;
}
.swiper-container-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35)),
    url(../assets/Banner-bg6.jpg) no-repeat center/cover;
}
.banner-hdr {
  max-width: 581px;
  margin: 0 auto;
  opacity: 0;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}
.swiper-slide:nth-child(2).swiper-slide-active .banner-hdr {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.swiper-slide:nth-child(3).swiper-slide-active .banner-hdr {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.swiper-slide:nth-child(4).swiper-slide-active .banner-hdr {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.swiper-slide:nth-child(5).swiper-slide-active .banner-hdr {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.swiper-slide:nth-child(6).swiper-slide-active .banner-hdr {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  8% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: scale(1);
  }
  19% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: scale(10);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  8% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: scale(1);
  }
  19% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: scale(7);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  8% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: scale(1);
  }
  19% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: scale(7);
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  8% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: scale(1);
  }
  19% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: scale(7);
  }
  100% {
    opacity: 0;
  }
}

.banner-hdr > span {
  color: var(--primary-color);
  font-size: 75px;
  font-weight: 400;
  font-family: "El Messiri", sans-serif;
  line-height: 0%;
}
.banner-hdr > .btn-secondary {
  margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}
/* Feature Section */
.feature-sec {
  margin-top: -80px;
  position: relative;
  z-index: 4;
}
.box {
  max-width: 100%;
  padding: 34px 35px 35px 19px;
}
.left-box {
  background: url(../assets/Ft-img1.png) no-repeat center/cover;
}
.mid-box {
  background: url(../assets/Ft-img2.png) no-repeat center/cover;
  padding: 35px !important;
}
.right-box {
  background: url(../assets/Ft-img3.png) no-repeat center/cover;
  padding: 35px !important;
}
.box-cntn {
  max-width: 100%;
  border: 1px solid var(--primary-color);
  padding-block: 263px 0;
}
.box-cntn > p {
  font-size: 20px;
  letter-spacing: 0.8px;
  color: var(--primary-color);
  font-weight: 500;
}

.box-cntn > a {
  width: 100px;
  height: 56px;
  overflow: hidden;
  color: var(--primary-color);
  position: relative;
  cursor: pointer;
}
.mid-box > .box-cntn > a {
  width: 81px;
}
.right-box > .box-cntn > a {
  width: 133px;
}
.box-cntn > a > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.box-cntn > a:before {
  content: "";
  position: absolute;
  height: 2px;
  top: 55%;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.box-cntn > a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.box-cntn > a .clone > *,
.box-cntn > a .text > * {
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: 0.2s;
  margin-left: 4px;
}

.box-cntn > a .clone > * {
  transform: translateY(60px);
}

.box-cntn > a:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.box-cntn > a:hover .text {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.box-cntn > a:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.box-cntn > a:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.box-cntn > a:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}
/* Discount Section */
.disc-sec {
  padding: 23px 0;
}
.auto-scroll {
  padding-block: 27px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #ffffff 0%, #d7aa76 100%);
  border: 1px solid var(--tertiary-color);
}
.auto-scroll-itms {
  font-size: 30px;
  white-space: nowrap;
  letter-spacing: 1.2px;
  font-weight: 600;
  background: linear-gradient(to right, #991421 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  animation: rightTOLeft 12s linear infinite;
}
.auto-scroll-itms > img {
  max-width: 23px;
}
.scroll-item1 > img {
  margin-right: 24px;
}
.scroll-item2 > img,
.scroll-item5 > .img1 {
  margin-right: 31px;
}
.scroll-item3 > img {
  margin-right: 28px;
}
.scroll-item4 > img {
  margin-right: 48px;
}
.auto-scroll-itms:nth-child(1) {
  animation-delay: -0s;
}
.auto-scroll-itms:nth-child(2) {
  animation-delay: -2s;
}
.auto-scroll-itms:nth-child(3) {
  animation-delay: -4s;
}
.auto-scroll-itms:nth-child(4) {
  animation-delay: -6s;
}
.auto-scroll-itms:nth-child(5) {
  animation-delay: -8s;
}
@keyframes rightTOLeft {
  0% {
    right: -10%;
  }
  100% {
    right: 110%;
  }
}
/* Popular Section */
.popular-sec {
  padding: 7.813vh 0 230px;
}
.popular-hdr {
  margin-bottom: 63px;
}
.bottle-img {
  max-width: 210px;
  margin: 0 auto;
}
.bottle1 {
  max-width: 229px;
}
.bottle-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottle-typ {
  margin-top: 37px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.96px;
}
/* Special Section */
.spcl-sec {
  background: var(--quad-color);
  /* padding: 179px 0 15px; */
}

.spcl-img {
  max-width: 782px;
  position: relative;
  margin-top: -62px;
  margin-left: -37px;
  overflow: visible;
}
.spcl-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spcl-btl {
  max-width: 324px;
  position: absolute;
  bottom: -72px;
  top: -71px;
  right: -162px;
  overflow: visible;
  z-index: 2;
}
.spcl-btl > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spcl-text {
  font-family: "Edwardian Script ITC";
  font-size: 400px;
  background: linear-gradient(to bottom, #d7aa76 11%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-91.08deg);
  position: absolute;
  bottom: -86px;
  top: 81px;
  right: -743px;
  z-index: 1;
}
.spcl-rt {
  max-width: 631px;
  margin: 0 auto;
  margin: 179px 0;
}
.spcl-hdr {
  max-width: 586px;
  font-size: 70px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: -1.4px;
}
.spcl-hdr > span {
  margin-right: 40px;
}
.spcl-desc {
  margin-block: 58px;
}
.spcl-desc p {
  font-size: 20px;
  line-height: 32px;
  color: #000;
}
.spcl-btn > .btn-secondary {
  background-color: #000;
  padding: 12px 35px;
}
.spcl-btn > .btn-secondary:hover {
  border: 1px solid #000;
}
/* Recommendation Section */
.rec-sec {
  padding: 181px 0 53px;
}
.rec-hdr {
  margin-bottom: 63px;
}
.rec-bottle-img {
  max-width: 435px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.rec-bottle-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rec-bottle-img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: var(--secondary-color-15);
  transition: height 0.5s ease;
  z-index: 1;
}
.rec-bottle-img:hover::before {
  height: 100%;
}
.temp {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 66px;
  padding: 4px 19px 2px;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  animation: pulseHot 1.5s infinite ease-in-out;
}
.hover-icon {
  position: absolute;
  right: 13px;
  top: 60px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.4s ease;
  z-index: 3;
}
.hover-icon > button {
  background: var(--secondary-color);
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.hover-icon > button:hover {
  transform: scale(1.1);
}
.rec-bottle-img:hover .hover-icon {
  opacity: 1;
  transform: translateY(0);
}
.rec-bottle-img:hover > img {
  transform: scale(1.05);
}

@keyframes pulseHot {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(192, 164, 131, 0.8);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(192, 164, 131, 1);
  }
}
.discount {
  position: absolute;
  left: 13px;
  top: 13px;
  width: 66px;
  padding: 4px 14px 2px;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  animation: flickerHot 0.15s infinite alternate;
}
@keyframes flickerHot {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating {
  margin-block: 11px;
}
.review {
  font-size: 18px;
  color: #6b697d;
  margin-left: 10px;
}
.bttl-desc span:first-child {
  max-width: 356px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1.1px;
}
.bttl-desc span:last-child {
  display: block;
  font-size: 20px;
  color: var(--tertiary-color);
}
/* Offer & Shop Section */
.offnshp-box {
  width: 100%;
  padding: 172px 0 125px;
  height: 531px;
}
.offnshp-box1 {
  background: url(../assets/Box1-bg.png) no-repeat center/cover;
}
.offnshp-box2 {
  background: url(../assets/Box2-bg.png) no-repeat center/cover;
}
.box-hdr {
  font-size: 50px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-color);
}
.offnshp-box > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-color);
  margin: 38px auto;
}
.offnshp-box1 > p {
  max-width: 482px;
}
.offnshp-box2 > p {
  max-width: 461px;
}
.box-btn > .btn-secondary {
  padding: 23px 42px 25px 40px;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 600;
}
.box-btn > .btn-secondary > i {
  margin-left: 6px;
}
/* Trending Section */
.trend-sec {
  padding: 117px 0;
}
.trend-img {
  height: 439px;
  border: 1px solid #80808080;
}
.trend-swiper .bttl-desc > span {
  color: #000;
}
.price {
  font-size: 20px;
  color: var(--tertiary-color);
}
.price > span {
  color: #57565b;
}
/* Response Section */
@media screen and (max-width: 1750px) {
  .btn-primary {
    font-size: 18px;
  }
  .title3 {
    font-size: 33px;
  }
  /* Navbar Section */

  .navbar-nav > li:nth-child(4) {
    margin-right: 70px !important;
  }
  .nav-item {
    margin-right: 40px;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .nav-btn {
    margin-right: 14px !important;
  }
  .love-icon {
    margin-inline: 20px;
  }
  .cart-icon {
    margin-right: 20px;
  }
  /* Banner Sectoion */
  /* Feature Section */
  .box-cntn {
    padding-block: 140px 0;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 24px;
  }
  .scroll-item1 > img {
    margin-right: 18px;
  }
  .scroll-item2 > img,
  .scroll-item5 > .img1 {
    margin-right: 25px;
  }
  .scroll-item3 > img {
    margin-right: 22px;
  }
  .scroll-item4 > img {
    margin-right: 35px;
  }
  /* Special Section */
  .spcl-img {
    max-width: 650px;
    margin-top: -270px;
    margin-left: -12px;
  }
  .spcl-btl {
    max-width: 324px;
    right: -127px;
  }
  .spcl-text {
    font-size: 334px;
    right: -583px;
  }
  .spcl-rt {
    margin: 90px 0;
  }
  .spcl-desc {
    margin-block: 28px;
  }
  .spcl-hdr {
    font-size: 58px;
    line-height: 80px;
  }
  .spcl-desc p {
    font-size: 19px;
    line-height: 29px;
    color: #000;
  }
}

@media screen and (max-width: 1400px) {
  .title3 {
    font-size: 25px;
  }
  /* Navbar Section */

  .navbar-nav > li:nth-child(4) {
    margin-right: 50px !important;
  }
  .nav-item {
    margin-right: 30px;
  }
  /* Banner Section */
  /* Feature Section */
  .box-cntn > p {
    font-size: 18px;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 20px;
  }
  .scroll-item1 > img {
    margin-right: 14px;
  }
  .scroll-item2 > img,
  .scroll-item5 > .img1 {
    margin-right: 20px;
  }
  .scroll-item3 > img {
    margin-right: 18px;
  }
  .scroll-item4 > img {
    margin-right: 28px;
  }
  /* Special Section */
  .spcl-img {
    max-width: 555px;
    margin-top: -124px;
    margin-left: -12px;
  }
  .spcl-btl {
    max-width: 291px;
    right: -114px;
  }
  .spcl-text {
    font-size: 300px;
    right: -523px;
  }
}

@media screen and (max-width: 1200px) {
  .title3 {
    font-size: 20px;
  }
  /* Navbar Section */
  .navbar-toggler {
    padding: 0 !important;
  }
  .navbar-toggler-icon {
    font-size: 1.8rem;
    background-image: none;
  }
  .offcanvas {
    flex-direction: column;
    overflow-y: hidden;
    min-height: 100vh;
  }
  .offcanvas-header {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--primary-color);
  }
  .nav-item {
    margin: 20px 0 0;
  }
  .navbar-nav > li:nth-child(4) {
    margin-right: 0 !important;
  }
  .nav-link:hover::before {
    width: 0% !important;
  }
  .active::before {
    width: 0% !important;
  }
  .nav-btn {
    margin: 20px 0 !important;
  }
  .nav-icons {
    flex-direction: column;
  }
  .love-icon {
    margin-inline: 30px !important;
  }
  .cart-icon {
    margin-right: 0;
  }
  /* Banner Section */
  /* Feature Section */
  .box {
    padding: 25px !important;
  }
  .box-cntn {
    padding-block: 90px 0;
  }
  .box-cntn > p {
    font-size: 14px;
  }
  /* Discount Section */
  .auto-scroll-itms {
    font-size: 16px;
  }
  /* Special Section */
  .spcl-img {
    margin: -30px auto 0;
    max-width: 500px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -100px;
  }
  .spcl-text {
    font-size: 273px;
    right: -465px;
    bottom: -42px;
    top: 54px;
  }
  .spcl-rt {
    max-width: 100%;
  }
  .spcl-hdr {
    max-width: 100%;
  }
  .spcl-hdr > span {
    margin-right: 0;
  }
  .spcl-desc {
    margin-block: 9px 28px;
  }
  /* Offer & Shop Section */
  .offnshp-box {
    padding: 146px 0 100px;
    height: 460px;
  }
  .offnshp-box > p {
    font-size: 20px;
    line-height: 24px;
    margin: 30px auto;
  }
  .box-hdr {
    font-size: 40px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  .col26,
  .col35,
  .col39 {
    width: 100%;
  }
  .col39 {
    margin: 0 auto;
  }
  .title1 {
    font-size: 120px;
    font-weight: 400;
  }
  .title3 {
    font-size: 32px;
  }
  /* Banner Section */
  .swiper-container {
    padding: 120px 0;
  }

  .banner-hdr {
    max-width: 439px;
  }
  .banner-hdr > span {
    font-size: 45px;
  }
  /* Feature Section */
  .box {
    height: 360px;
    margin: 30px auto 0;
  }
  .box-cntn {
    padding-block: 140px;
    height: 100%;
  }
  .box-cntn > p {
    font-size: 26px;
  }
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 430px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -90px;
    bottom: -50px;
    top: -47px;
  }
  .spcl-text {
    font-size: 227px;
    right: -396px;
    bottom: -52px;
    top: 45px;
  }
  /* Recommendation Section */
  .rec-sec {
    padding: 130px 0 53px;
  }
  /* Offer & Shop Section */
  .offnshp-box {
    padding: 100px 30px 63px;
    height: 390px;
  }
  .box-hdr {
    font-size: 28px;
    line-height: 30px;
  }
  .offnshp-box > p {
    font-size: 16px;
    line-height: 24px;
    margin: 30px auto;
  }
  .box-btn > .btn-secondary {
    padding: 22px 24px 25px 24px;
    font-size: 14px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 768px) {
  .title2 {
    font-size: 28px;
  }
  /* Banner Section */
  /* Popular Section */
  .popular-sec {
    padding: 7.813vh 0 160px;
  }
  .popular-hdr {
    margin-bottom: 40px;
  }
  .bottle-typ {
    margin-top: 20px;
    font-size: 20px;
  }
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 310px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -69px;
    bottom: -42px;
    top: -36px;
  }
  .spcl-text {
    font-size: 164px;
    right: -292px;
    bottom: -52px;
    top: 45px;
  }
  .spcl-rt {
    margin: 70px 0 40px;
  }
  .spcl-hdr {
    font-size: 40px;
    line-height: 80px;
  }
  .spcl-desc p {
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }
  /* Recommendation Section */
  .rec-sec {
    padding: 95px 0 53px;
  }
  .rating {
    margin-block: 11px 5px;
  }
  .temp {
    font-size: 16px;
  }
  .bttl-desc span:first-child {
    font-size: 18px;
  }
  .bttl-desc span:last-child {
    font-size: 18px;
  }
  /*  Offer & Shop Section */
  .offnshp-box {
    margin-bottom: 30px;
  }
  /* Trend Section */
  .trend-sec {
    padding: 90px 0;
  }
  .trend-img {
    height: 370px;
  }
}
@media screen and (max-width: 576px) {
  .title1 {
    font-size: 90px;
    font-weight: 400;
  }
  .title2 {
    font-size: 24px;
  }
  .title3 {
    font-size: 22px;
  }
  /* Banner Section */
  .swiper-container {
    min-height: 80vh;
    padding: 120px 0 90px;
  }
  .banner-hdr {
    max-width: 396px;
  }

  .banner-hdr > span {
    font-size: 35px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  /* Feature Section */
  .feature-sec {
    margin-top: -90px;
  }
  .box {
    height: 330px;
    margin: 30px auto 0;
  }
  .box-cntn > p {
    font-size: 16px;
  }
  .box-cntn > a {
    width: 73px;
  }
  .mid-box > .box-cntn > a {
    width: 61px;
  }
  .right-box > .box-cntn > a {
    width: 97px;
  }
  .box-cntn > a .clone > *,
  .box-cntn > a .text > * {
    font-size: 14px;
  }

  /* Discount Section */
  .auto-scroll-itms {
    font-size: 12px;
  }
  .auto-scroll-itms > img {
    max-width: 14px;
  }
  .auto-scroll {
    padding-block: 16px;
  }
  .auto-scroll-itms > img {
    margin: 0 !important;
  }
  /* Popular Section */
  .popular-sec {
    padding: 7.813vh 0 100px;
  }
  .bottle-typ {
    margin-top: 16px;
    font-size: 18px;
  }
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 256px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -53px;
    bottom: -29px;
    top: -35px;
  }
  .spcl-text {
    font-size: 98px;
    right: -225px;
    bottom: -28px;
    top: 20px;
  }
  .spcl-rt {
    margin: 34px 0 20px;
  }
  .spcl-hdr {
    font-size: 20px;
    line-height: 43px;
  }
  .spcl-desc {
    margin-block: 5px 20px;
  }
  .spcl-desc p {
    font-size: 12px;
    line-height: 16px;
    color: #000;
  }
  .spcl-btn > .btn-secondary {
    font-size: 12px;
    background-color: #000;
    padding: 10px 20px;
  }
  /* Recommendation Section */
  .rec-sec {
    padding: 60px 0 35px;
  }
  /*  Offer & Shop Section */
  .offnshp-box {
    padding: 100px 20px 63px;
    height: 390px;
  }
  .box-btn > .btn-secondary {
    padding: 15px 24px;
    font-size: 14px;
    letter-spacing: 3px;
  }
  /* Trend Section */
  .trend-sec {
    padding: 60px 0;
  }
  .trend-sec {
    padding: 60px 0;
  }
  .trend-img {
    height: 355px;
  }
}
@media screen and (max-width: 420px) {
  /* Special Section */
  .spcl-img {
    margin: -20px auto 0;
    max-width: 200px;
  }
  .spcl-btl {
    max-width: 282px;
    right: -43px;
    bottom: -25px;
    top: -24px;
  }
  .spcl-text {
    font-size: 78px;
    right: -182px;
    bottom: -32px;
    top: 20px;
  }
}
